
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <div class="row quick-view product-main">
                    <div class="col-sm-6">
                      <div class="modalhome-main-image"><img src="<%= asset_path 'title.png' %>" alt="" class="img-fluid"></div>
                                   
                    </div>
                    <div class="col-sm-6">
                      <h2><%= t('layouts.application.modal_greeting') %></h2>
                      <p class="text-muted text-small text-center"><%= t('main.contacts.about_p') %></p>
                  
                          <p class="text-center"><a href="<%= contacts_path %>" class="btn btn-outline-primary"><%= t('layouts.application.contacts') %></a></p>
                        </form>
                      </div>
                      <!-- /.box-->
                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-dialog -->