
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <div class="row quick-view product-main">
                    <div class="col-sm-6">
                      <div class="quick-view-main-image"><img src="<%= asset_path 'shelftalker.jpg' %>" alt="" class="img-fluid"></div>
                      <div class="ribbon ribbon-quick-view sale">
                        <div class="theribbon">SALE</div>
                        <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon-->
                      <div class="ribbon ribbon-quick-view new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon-->
                      <div class="row thumbs">
                        <div class="col-4"><a href="<%= asset_path 'cofemold.jpg' %>" class="thumb"><img src="<%= asset_path 'cofemold.jpg' %>"" alt="" class="img-fluid"></a></div>
                        <div class="col-4"><a href="<%= asset_path '341.jpg' %>" class="thumb"><img src="<%= asset_path '341.jpg' %>" alt="" class="img-fluid"></a></div>
                        <div class="col-4"><a href="<%= asset_path 'shelf11.png' %>" class="thumb"><img src="<%= asset_path 'shelf11.png' %>" alt="" class="img-fluid"></a></div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2><%= t('main.home.popup1') %></h2>
                      <p class="text-muted text-small text-center"><%= t('main.home.popup_text1') %></p>
                      <div class="box">
                        <form>
                          <div class="sizes">
                            <h3><%= t('main.home.sizes') %></h3>
                            <label for="size_s"><a href="#">A4</a>
                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                            </label>
                            <label for="size_m"><a href="#">A5</a>
                              <input id="size_m" type="radio" name="size" value="m" class="size-input">
                            </label>
                            <label for="size_l"><a href="#">120*220</a>
                              <input id="size_l" type="radio" name="size" value="l" class="size-input">
                            </label>
                          </div>
                          <p class="price"><%= t('main.home.1pricec') %></p>
                          <p class="text-center"><a href="<%= catalog_path %>" class="btn btn-outline-primary"><%= t('products.index.add_html') %></a></p>
                        </form>
                      </div>
                      <!-- /.box-->
                      <div class="quick-view-social">
                        <h4><%= t('.quantities') %></h4>
                         <form>
                          <div class="sizes">
                            <label for="size_s"><a href="#">1000</a>
                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                            </label>
                            <label for="size_m"><a href="#">3000</a>
                              <input id="size_m" type="radio" name="size" value="m" class="size-input">
                            </label>
                            <label for="size_l"><a href="#">5000</a>
                              <input id="size_l" type="radio" name="size" value="l" class="size-input">
                            </label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-dialog -->