
<%= provide(:title, "Gallery") %>

<!--pagination stuff 
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @images %>
    </div>
   <%= will_paginate @images, :container => false %> 
  </div>  -->
           <!-- /.Gallery intro-->
       <div class="box text-center">
            <h3 class="text-uppercase"><%= t('.view') %></h3>
            <h4 class="text-muted"><span class="accent"><%= t('.find') %></span><%= t('.design') %></h4><p><%= t('.gtitle') %></p>
       </div>
               <!-- /.image items-->
          <div class="row products">
             <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal"><img src="<%= asset_path 'composed_stands.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <div class="text">
                  <h3><a href="<%= catalog_path %>"><%= t('.infostands') %></a></h3>
                </div>
              </div>
         </div>
               <!-- /.image item-->
              <div class="col-md-3 col-sm-4">
               <div class="product">
                <div class="image"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-1"><img src="<%= asset_path 'barketa.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-1" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <div class="text">
                  <h3><a href="<%= catalog_path %>"><%= t('.barketa') %></a></h3>
                </div>
            </div>
         </div>
                 
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'shelftalker.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('.zview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('main.home.shelf') %></a></h3>
                 
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'db33.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.suchibox') %></a></h3>
                                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'lightbox.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('.zview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#"><%= t('.lightbox') %></a></h3>
                 
                  
                </div>
                <!-- /.text-->
 
              
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'tray_chocolate.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('.zview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#"><%= t('.moldtray') %></a></h3>
                 
                </div>
                <!-- /.text-->
               
             
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'acrdyspl.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('.zview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="<%= products_path %>"><%= t('main.home.display') %></a></h3>
                 
                </div>
                <!-- /.text-->
              
    
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'metal_rack.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('.zview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.metalrack') %></a></h3>
                 
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <!-- /.col-md-4-->
           
           <!-- modal dialog --> 
          <div id="product-quick-view-modal" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <div class="row quick-view product-main">
                    <div class="col-sm-6">
                      <div class="row thumbs">
                        <div class="quick-view-main-image"><a href="<%= asset_path 'composed_stands.jpg' %>" class="thumb"><img src="<%= asset_path 'composed_stands.jpg' %>"" alt="" class="img-fluid"></a></div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2><%= t('.infostands') %></h2>
                      <p class="text-muted text-small text-center"><%= t('.infostands_text') %></p>
                      <div class="box">
                        <form>
                          <div class="sizes">
                            <h3><%= t('.size') %></h3>
                            <label for="size_s"><a href="#">1200*450</a>
                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                            </label>

                          </div>
                  
                        </form>
                      </div>
                      <!-- /.box-->
                      <div class="quick-view-social">
                        <h4><%= t('.quantities') %></h4>
                         <form>
                          <div class="sizes">
                            <label for="size_s"><a href="#">100</a>
                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                            </label>
                            <label for="size_m"><a href="#">200</a>
                              <input id="size_m" type="radio" name="size" value="m" class="size-input">
                            </label>
                            <label for="size_l"><a href="#">500</a>
                              <input id="size_l" type="radio" name="size" value="l" class="size-input">
                            </label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- /.modal-dialog-->
         
          <div id="product-quick-view-modal-1" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <div class="row quick-view product-main">
                    <div class="col-sm-6">
                      <div class="row thumbs">
                        <div class="quick-view-main-image"><a href="<%= asset_path 'barketa.jpg' %>" class="thumb"><img src="<%= asset_path 'barketa.jpg' %>"" alt="" class="img-fluid"></a></div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2><%= t('.barketa') %></h2>
                      <p class="text-muted text-small text-center"><%= t('.barketa_text') %></p>
                      <div class="box">
                        <form>
                          <div class="sizes">
                            <h3><%= t('.size') %></h3>
                            <label for="size_s"><a href="#">450*320*210</a>
                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                            </label>

                          </div>
                  
                        </form>
                      </div>
                      <!-- /.box-->
                      <div class="quick-view-social">
                        <h4><%= t('.quantities') %></h4>
                         <form>
                          <div class="sizes">
                            <label for="size_s"><a href="#">200</a>
                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                            </label>
                            <label for="size_m"><a href="#">200</a>
                              <input id="size_m" type="radio" name="size" value="m" class="size-input">
                            </label>
                            <label for="size_l"><a href="#">1000</a>
                              <input id="size_l" type="radio" name="size" value="l" class="size-input">
                            </label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- /.modal-dialog 1-->