<div class="center jumbotron">
<h2><%= t('.customer') %><%= @inquiry.first_name %> <%= @inquiry.second_name %>!</h2>
<h2><%= t('.title') %></h2>
<p><%= t('.text') %> 
   <%= @inquiry.message %> .</p>
<p><%= t('.recs') %>
<%=  @inquiry.email %>.</p>
<p><%=  t('.next') %></p>

