<%= form_for @post, html: { multipart: true } do |form| %>
 <% if post.errors.any? %>
  <div id="error explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

   <ul> 
   	<% posts.errors.full_messages.each do |message| %>
   	 <li><%= message %></li>
   	<% end %>
   </ul>
  </div>
 <% end %>

<div class="field">
 <%= form.label :title %>
 <%= form.text_field :title, id: :post_title %>
</div>

<div class="field">
 <%= form.label :body %>
 <%= form.text_field :body, id: :post_body %>
</div>

<div>
 <%= form.label :image %>
 <%= form.file_field :image %>
 <%= form.hidden_field :image_cache %>
</div>


<div class="actions">
 <%= form.submit %>
</div>

<% end %>