<div class="center jumbotron">
<h1 class="text-uppercase"><strong><%= t('.title') %></strong></h1>
<table width="100%" border="0" cellspaceing="0" cellpadding="0">
 <thead style= "background-color: #ced4da">
 <tr class="post_title">
 <th><%= t('.name') %></th>
 <th><%= t('.topic') %></th>
 <th><%= t('.created') %></th>
 <th colspan="4"></th>
</tr>
</thead>
<tbody>
	<tr class="post_list">
<% @posts.each do |post| %>
<td class="post_title"><%=link_to post.title, post_path(post) %></td>
<td class="post_body"><%= truncate(strip_tags(post.body), length: 100) %></td>
<td class="post_actions"><%= post.created_at %></td>
</td>
</tr>
<% end %>

</tbody>
</table>
</div>