<h1><strong><%= @post.title %></strong></h1>

<p><%= @post.body %></p><br />

<%= image_tag(@post.image.url) if @post.image? %>
<% if !admin_session %>
<p><%= link_to t('.admin'), new_admin_session_path %></p>
<% end %>
<%= link_to t('products.show.back'), posts_path %> |
<%= link_to t('products.show.edit'), edit_post_path(@post) %> |
<%= link_to t('.delete'), @post, method: :delete, data: { confirm: t('.sure') } %>
