<div class="center jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %></strong>
  <% if I18n.locale == :en %>
  <%= @product.title %>
  <% else %>
  <%= @product.title_ru %>
  <% end %>
</p><br />

<p>
  <strong><%= t('.description') %></strong>
  <% if I18n.locale == :en %> 
  <%= @product.description %>
  <% else %>
  <%= @product.description_ru %>
  <% end %>
</p><br />

<p>
  <strong><%= t('.price') %></strong>
  <% if I18n.locale == :en %>
  <%= number_to_currency(@product.price) %>
  <% else %>
  <%= number_to_currency(@product.price_ru) %>
  <% end %>
</p><br />

<p>
  <strong><%= t('.image') %></strong>
  <%= image_tag(@product.image_url) %>
</p><br />

<%= link_to t('.edit'), edit_product_path(@product) %> |
<%= link_to t('.back'), products_path %>
